<!-- chat form login -->
<form class="formBox clearfix" action="/login/local" method="POST">
    <div class="formName">Login</div>
    <%- processNotifications(notifications, "login") %>
    <div class="formRow">
    	<label>Username</label>
    	<input style = "width:190px;" type="text" name="username" />
    </div>
    <div class="formRow">
    	<label>Password</label>
		<input style = "width:190px;" type="password" name="password" />
    </div>
    <div class="formRow">
    	<input type="submit" value="Login" />
    </div>
</form>
<div class="clearfix"></div>
